/*
Document
========
Developed by Shah Muhammad Jannatul Hasan
Company: Netmark.no
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Montserrat', sans-serif;
    background: #F5F8FA;
}
header {
    @apply relative;
}


/* Button */
.btn-secondary{
    @apply hover:bg-heading bg-transparent border-heading hover:text-white transition-colors duration-300 border-2 py-3 px-7 rounded-lg;
}
.consulting .btn-secondary{
    @apply bg-heading hover:bg-transparent border-heading text-white hover:text-black transition-colors duration-300 border-2 py-3 px-7 rounded-lg;
}
/* Responsive menu classes */
.show-on-small {
    @apply block lg:hidden;
}
.hide-on-small {
    @apply lg:block hidden;
}
.nav-hidden {
    @apply hidden;
}

#cross {
    position: absolute;
    right: 7%;
    top: 7%;
}
#nav-menu-mobile {
    @apply fixed mt-0 top-0 right-0 bottom-0 left-0 w-full text-center bg-black text-white p-3 z-50;
}
.mobile-menu, .mobile-menu ul{
    @apply space-y-7;
}
.active-menu {
    @apply block;
}
#menu-btn {
    @apply border border-[#fe4a51] py-2 px-10 rounded-2xl mb-7;
}

ul.nav li::after{
    display: block;
    content: '';
    width: 0%;
    height: 3px;
    margin-top: 5px;
    margin-left: 1px;
    background: #000;
    transition: all 400ms ease;
}
ul.nav li:hover::after{
    width: 70%;
    transition: all 400ms ease;
}
.nav .active-li{
    @apply font-semibold;
}
ul.nav li.active-li::after{
    width: 70%;
}
/* Primary button */
.btn-primary{
    @apply border-2 border-primary bg-primary hover:bg-transparent py-3 px-7 rounded-lg text-white hover:text-black font-semibold;
}
/* Initialize all p */
p{
    @apply text-lg;
}
.title{
    @apply text-heading lg:text-4xl text-3xl font-bold leading-normal;
}
.content-title{
    @apply text-2xl text-white lg:text-gray-500 font-bold ;
}
.content-body{
    @apply lg:w-9/12 text-justify;
}
.content-body p{
    @apply text-justify;
}
.tab-buttons .content-title{
    @apply border-l-8 border-gray-800 pl-7 py-5 transition-all duration-300; 
}
.tab-buttons .content-title.active-title{
    @apply text-white border-white transition-all duration-300;
}

.active-content{
    display: block;
}

.tab-buttons{
    @apply sticky top-0;
}

.sec-content p{
    @apply lg:text-2xl font-semibold lg:pt-36 lg:pb-36 px-5 text-gray-500 space-y-4 lg:space-y-0; 
}

/* Consulting section */
.tiny-header{
    @apply text-primary text-base font-semibold;
}
.consulting ul li{
    @apply flex;
}
.consulting .title{
    
}
/* Post Preview Section */

.single{
    box-shadow: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.05));
    @apply after:block after:top-0 after:bottom-0 after:left-0 after:right-0;
}
.single h4{
    @apply font-bold text-xl text-white;
}
.post-body{
    @apply p-5 space-y-8 text-white;
}
.blogg .btn-secondary
/* Booking Sec */
hr{
    @apply border-primary opacity-30;
}
.single-book-col{
    -webkit-filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.1));
    @apply grid lg:grid-cols-2 gap-y-5 bg-white;
}
.book-col-body{
    @apply px-10 flex flex-col justify-center space-y-10 pb-12 lg:pb-0;
}
.book-col-body a{
    @apply text-primary font-semibold text-2xl;
}
.book-col-body h4{
    @apply text-xl font-bold text-heading;
}


/* Tjenester Page */
ul.nav li{
    @apply relative;
}
.item-has-sub-menu ul li::after{
    display: none;
}
.item-has-sub-menu li{
    @apply p-4; 
}

.item-has-sub-menu ul li:hover{
    @apply bg-white text-heading;
}
.item-has-sub-menu ul{
    @apply mt-5 lg:mt-0 hidden lg:absolute lg:top-full text-white lg:min-w-max w-full bg-heading font-normal;
}
.item-has-sub-menu:hover ul{
    @apply block;
}
.list-items li {flex-basis: 50%;}
@media (max-width:1200px) { .list-items li { flex-basis: 100%;} } 

.service-contents > h2 {
    @apply text-3xl font-bold mb-5;
}
.service-contents > * {
    @apply mb-4;
}
.service-contents ul {
    @apply list-disc ml-10;
}

.site-service .active-tjenester {
    @apply bg-heading text-white;
}

/* Om Oss page */
.team img{
    @apply rounded-full;
}



/* Archive Page */
.single-post{
    @apply grid lg:grid-cols-12 grid-cols-1 gap-y-10 lg:gap-y-0 pb-12 items-center;
}
.single-post img{
    @apply mx-auto lg:w-11/12 lg:ml-0;
}
.read-more{
    @apply hover:text-white text-gray-500 font-semibold py-[2px] px-2 rounded-lg hover:bg-gray-500
}
.post-title h2{
    @apply text-xl lg:text-2xl leading-normal text-heading font-bold;
}


/* Hjem Page Animations */

:root {
    --animate-delay: 0.7s;
    --animate-duration: .7s;
}

.slider .tab-buttons,
.slider .sec-content,
.consulting .leftCol,
.consulting .rightCol,
.blogg h2,.blogg .sec-p,
.blogg .s-1,
.blogg .s-2,
.blogg .s-3,.b1,.b2,.b3,.b4,
.form .leftCol,
.form .rightCol
{
    opacity: 0;
}

.slider .tab-buttons.animate__animated,
.slider .sec-content.animate__animated,
.consulting .leftCol.animate__animated,
.consulting .rightCol.animate__animated,
.blogg h2.animate__animated,
.blogg .sec-p.animate__animated,
.blogg .s-1.animate__animated,
.blogg .s-2.animate__animated,
.blogg .s-3.animate__animated,
.b1.animate__animated,
.b2.animate__animated,
.b3.animate__animated,
.b4.animate__animated,
.form .leftCol.animate__animated,
.form .rightCol.animate__animated
{
    opacity: 1;
}